<%= render '/recipes/recipe' %>
<%= render 'comments' %>

<div class="media">
  <div class="media-body">
    <h4 class="newUser"></h4>
  </div>
  <div id="newComment">
    <p></p>
  </div>
</div>

<br><br>
<div id="new_comment">
<%= render 'form' %>
</div>

<% content_for :comments do %>
<script>
  $(function() {
    editMethods();
    doEdits();
    deleteMethods();
    createMethods();
  })

  var editMethods = function() {
    $('a#edit').on("click", function(event) {
      event.preventDefault();
      var commentClass = "div." + event['target']['nextSibling']['parentNode']['children']['0']['className'] + " form";
      console.log(commentClass);
      $(commentClass).show();
      // $('commentClass').hide();
    });
  }

  function doEdits() {
    $('#edit_comment_form').on("submit", function(event) {
      event.preventDefault();
      var values = $(this).serialize();
      ajaxEdit(event, values);
      $(this).hide();
    })
  };

  function ajaxEdit(event, values) {
    var comment = event['currentTarget']['0']['value'];
    var user_id = event['currentTarget']['1']['value'];
    var recipe_id = event['currentTarget']['2']['value'];
    var id = event['currentTarget']['3']['value'];
    
    $.ajax ({
        url: "http://localhost:3000/recipes/" + recipe_id + "/comments/" + id + ".json",
        method: 'patch',
        dataType: 'json',
        data: values
      }).done(handleResponse(comment, id));
  };

  function handleResponse(comment, id) {
    $('#edit_comment_form').hide();
    $('.commentos-' + id).text(comment);
    $('#comment_content').show();
  }

  var deleteMethods = function() {
    $('a#delete').on("click", function(event) {
      event.preventDefault();
      var url = event['target']['href'];
      var result = confirm("Are you sure?");
      if(result) {
        $.ajax({
          url: url,
          method: 'delete'
        }).done(deleteResponse(event));
      }
    });
  }

  var deleteResponse = function(event) {
    var comment = event['target']['parentElement'];
    $(comment).text("Comment Deleted");
    console.log(event);
  }

  var createMethods = function() {
    $('div#new_comment form').on("submit", function(event) {
      event.preventDefault();
      var comment = event['currentTarget']['2']['value'];
      var user_id = event['currentTarget']['3']['value'];
      var recipe_id = event['currentTarget']['4']['value'];

      var values = $(this).serialize();

      $.ajax({
        url: "http://localhost:3000/recipes/" + recipe_id + "/comments/",
        method: 'post',
        data: values,
        dataType: 'json'
      }).done(function(data) {
        $('div#new_comment form').hide();
        $('.newUser').text("<%= current_user.name %>" + " says:");
        $('#newComment').text(data['content']);
      });
    })
  }


</script>
<% end %>