<h1>All Recipes</h1>

<ul class="list-group">
  <% @recipes.each do |recipe| %>
  <li class="list-group-item">
    <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
    <h4>by <%= recipe.user %></h4>
    <%= link_to "Delete", recipe_path(recipe), method: :delete %>
  </li>
<% end %>
</ul>