<h1>Ingredients!</h1>

<h4><%= link_to "Add New Ingredient", new_ingredient_path %></h4>

<ul class="list-group">
<% @ingredients.each do |ingredient| %>
  <li class="list-group-item">
  <%= link_to ingredient.name, ingredient_path(ingredient) %>

  <% if current_user.admin? || current_user.moderator? %>
  - <%= link_to "edit", edit_ingredient_path(ingredient), class:"glyphicon glyphicon-pencil" %>
  <%= link_to "delete", ingredient_path(ingredient), method: :delete %>
  <% end %>
  </li>
<% end %>
</ul>