<h1 id="header"></h1>

<h4 id="link"></h4>

<div class="list-group">
</ul>

<% content_for :ingredients do %>
<script>
$(function() {
  init()
})

function init() {
  $('#header').html("Ingredients")
  // COOL! ERB works to render HTML in the view through javascript
  $('#link').html('<%= link_to "Add New Ingredient", new_ingredient_path %>');
  $.ajax({
    url: '/ingredients',
    method: 'GET',
    dataType: 'JSON',
    success: function(response) {
      populateLinks(response)
    }
  })
}

function populateLinks(array) {
  var HTML = "<ul>";

  for(var i = 0; i < array.length; i++) {
    var name = array[i].name
    var id = array[i].id
    HTML += "<li class='list-group-item'><a href='/ingredients/" + id + "'>" + name + "</a></li>"
  }
  $('.list-group').html(HTML)
}


</script>
<% end %>

