<h1><%= @ingredient.name %> Ingredient Page</h1>

<p>Ok, cool you have some <%= @ingredient.name %> in your fridge. Check out all the recipes we have and cook something with it!</p>

<h3>Recipes Using This Ingredient</h3>

<ul>
<% @ingredient.recipes.each do |recipe| %>
  <li><%= link_to recipe.name, recipe_path(recipe) %></li>
<% end %>
</ul>