<h1>About This Site</h1>

<p>The purpose of this website is to find recipes to cook with the food you already have in your fridge. This cuts down on food waste.</p>

<h2>Your Information</h2>

<p>User Name: <%= current_user.name %></p>
<p>User Role: <%= current_user.role %></p>