<form action="" method="POST" role="form">
  <legend>What's In Your Fridge?</legend>

  <div class="form-group">
    <label for="">40% of all food goes to waste. Save the world by making great food with your leftovers!</label>
    <input type="text" class="form-control" id="" placeholder="Type one main ingredient">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>